<!-- 原則上ejs的檔案就是放html -->
<%- include('parts/html-head') %> 
<%- include('parts/navbar') %> 
<div class="container">
    <h2>Hi, <%= name %></h2> 
    <i class="fab fa-youtube"></i>
</div>




<%- include('parts/scripts') %> 
<script>$('.fa-youtube').css('font-size', '3rem').css('color', 'red') </script>
<%- include('parts/html-foot') %>