<!-- 原則上ejs的檔案就是放html -->
<%- include('../parts/html-head') %> 
<%- include('../parts/navbar') %> 
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">

                <ul class="pagination justify-content-center">

                    <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
                        <a class="page-link " href="?page=1">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>

                    <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= page - 1 %> ">
                            Previous
                        </a>
                    </li>

                    <% for( let i = page - 4; i < page + 3; i++ ) { %>
                        <% if (i >= 1  && i <= totalPages) { %>
                        <li class="page-item <%= page === i ? 'active' : '' %> ">
                            <a class="page-link" href="?page=<%= i %> ">
                                <%= i %> 
                            </a>
                        </li>
                        <% } %>
                    <% } %>
                    <li class="page-item <%= page == totalPages ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= page + 1 %>">
                            Next
                        </a>
                    </li>

                    <li class="page-item <%= page == totalPages ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= totalPages %> ">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>

                </ul>

            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped table-warning">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">email</th>
                        <th scope="col">mobile</th>
                        <th scope="col">birthday</th>
                        <th scope="col">address</th>
                    </tr>
                </thead>
                <tbody>
                <% for(let i of rows){ %> 
                    <tr>
                        <td><%= i.sid %> </td>
                        <td><%= i.name %> </td>
                        <td><%= i.email %> </td>
                        <td><%= i.mobile %> </td>
                        <td><%= dateToString(i.birthday) %> </td>  <!--dateToString 這個功能在index.js裡面的 自訂的middleware-->
                        <td><%= i.address %> </td>
                    </tr>
                <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>




<%- include('../parts/scripts') %> 
<%- include('../parts/html-foot') %>
